@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
a {
  text-decoration: none;
}
.font-popin {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ededed;
}
.black {
  color: black;
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.decoration-none {
  text-decoration: none;
}
.bg-abu-abu {
  background-color: #747474;
}
.bg-white {
  background-color: white;
}
.abu-abu {
  color: #acacac;
}
.green-transparan {
  color: #8ec3b0;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}
.font-bold {
  font-weight: bold;
}
.font-semibold {
  font-weight: 500;
}
.font-normal {
  font-weight: normal;
}
/*  */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1.nav-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 75px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 75px;
  list-style-type: none;
}
nav ul li {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
li.signup {
  background-color: #363636;
  border-radius: 12px;
}
li.signup a {
  color: #ffffff;
}

.container {
  height: 675px;
  padding: 0px 75px 0px 75px;
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section.header-top .container .image img {
  width: 500px;
}
.header-title {
  width: 394px;
}
.header-title h1.title {
  font-size: 60px;
}
.header-title .row-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-title .row-button .button-sewa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: white;
  border-radius: 12px;
  background-color: #363636;
  padding: 12px 24px;
}
.header-title .row-button .button-unit {
  border-bottom: 1px black solid;
  color: #363636;
}

section.about {
  margin-top: 50px;
}
section.about .container .title-about {
  padding-left: 78px;
  width: 568px;
}
section.about .container .title-about h1 {
  font-size: 20px;
  font-weight: 500;
}
section.about .container .title-about p.about-top {
  font-size: 32px;
  font-weight: 500;
}
section.about .container .title-about p.about-bottom {
  text-align: left;
  width: 470px;
  font-size: 20px;
  font-weight: normal;
}
section.services .container {
  padding-bottom: 50px;
}
section.services .container .title-services {
  padding-top: 50px;
}
section.services .container .title-services h1 {
  font-size: 20px;
  font-weight: 500;
}
section.services .container p.services-top {
  font-size: 32px;
  font-weight: 500;
  width: 447px;
  text-align: center;
  margin: 0px;
}
section.services .container p.services-bottom {
  font-size: 20px;
  font-weight: 500;
  width: 628px;
  text-align: center;
  font-weight: normal;
}
.cards {
  width: 100%;
}
.card {
  width: 300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: #8ec3b0 15px solid;
  padding: 10px;
}
section.services .container .cards .card h2.title-card-services {
  font-size: 24px;
}
section.services .container .cards .card p.desc-services {
  font-size: 16px;
}
section.unit .container .title {
  font-size: 20px;
}
section.unit .container .menu .title {
  font-size: 32px;
}
section.unit .container .menu .menu-kanan {
  width: 50%;
}
section.unit .container .menu .menu-kanan h2 {
  font-size: 24px;
}
section.unit .container .cards-unit {
  margin-top: 45px;
}
section.unit .container .cards-unit .card-unit {
  width: 250px;
  height: 310px;
  border-radius: 12px;
  padding: 10px;
}
section.unit .container .cards-unit .card-unit .price {
  width: 80%;
}
section.unit .container .cards-unit .card-unit .price .right .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #a8a8a8;
}
section.unit .container .cards-unit .card-unit a.button {
 
  height: 44px;
  width: 200px;
  background-color: #363636;
  border-radius: 12px;
}
section.unit .container .button-bottom a {
  margin-top: 30px;
  height: 44px;
  width: 264px;
  background-color: #363636;
  border-radius: 12px;
}

section.bottom {
  height: 385px;
  background-image: url("../image/image-foot.png");
}
section.bottom h1 {
  font-size: 46px;
  width: 478px;
  text-align: center;
}

footer {
  height: 100px;
  padding: 0px 75px 0px 75px;
}
footer ul {
  display: flex;
  flex-direction: row;
}
footer ul li {
  width: 67px;
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  cursor: pointer;
}
